.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    margin: 10px 0;
    color: #004080;
}
